@{
    ViewBag.Title = "Home Page";
}
<br /><br />
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("SendNotification", "Home", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label class="control-label col-sm-2" for="certificateFilePwd">Certificate File Password:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="certificateFilePwd" placeholder="Certificate File Password" name="certificateFilePwd">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="deviceToken">Device Token:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="deviceToken" placeholder="Device Token" name="deviceToken">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="p12File">P12 File:</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" id="p12File" placeholder="P12 File" name="p12File">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            }
        </section>
    </div>
</div>